<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXODIA | HEADS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/heads.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>

    <%- include('partials/clip_path_svgs.ejs') %>


        <!-- navbar code -->

        <nav class="navbar">
            <div class="navbar-container container">
                <input type="checkbox" name="" id="">
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <ul class="menu-items">
                    <li><a href="/">Home</a></li>
                    <li><a href="/#about-us">About</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/#contact-us">Contact</a></li>

                </ul>
                <h1 class="logo">HEADS</h1>
            </div>
        </nav>

        <!-- navbar code ends -->


        <!-- bottom container code -->
        <div class="head-wrapper">
            <div class="slider" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500">

                <!-- head list code -->
                <div class="items-wrapper">
                    <%let k=1%>
                        <% for(let title in headTitles) {%>
                            <div class="items">
                                <a href="#" class="menu-link menu-item__link" aria-expanded="false" role="menuitem">

                                    <span class="title-icon"
                                        style="display:inline-block; background: url('/images/icons/<%=k++%>.png') no-repeat center center/contain;"></span>

                                    <span id="<%= title.replace(/\s/g, "")%>" class="menu-link__inner">
                                        <%= title%></a>
                            </div>

                            <%}%>
                </div>

                <!-- head list code ends -->

            </div>

            <!-- torn bg -->
            <div class="torn-bg" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500">

            </div>

            <!-- torn-bg ends -->


            <div class="head-container">

                <!-- head container code started -->

                <% for(let title in headTitles) {%>

                    <% if(Object.keys(headTitles)[0]===title) {%>
                        <div class="heading vis" id="<%= title.replace(/\s/g, "")%>_heads">
                            <%} else {%>
                                <div class="heading hidden" id="<%= title.replace(/\s/g, "")%>_heads">

                                    <%}%>

                                        <div class="contactedit">
                                            <div class="h1editleft" data-aos="fade-right" data-aos-easing="linear"
                                                data-aos-duration="500"></div>
                                            <h1 data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500">
                                                <%=title%>
                                            </h1>
                                            <div class="h1editright" data-aos="fade-left" data-aos-easing="linear"
                                                data-aos-duration="500"></div>
                                        </div>

                                        <!-- head detail started -->
                                        <% for(let i=0;i<headTitles[title].length;i++) {%>
                                            <div class="heads">
                                                <div class="images" data-aos="zoom-in-up" data-aos-easing="linear"
                                                    data-aos-duration="500">
                                                    <svg width="100%" height="100%" preserveAspectRatio="none"
                                                        aria-hidden="true" role="presentation"
                                                        viewBox="0 0 587.61 331.46">
                                                        <rect width="100%" height="100%" class="placeholder"
                                                            clip-path="url(#article-panel)">
                                                        </rect>
                                                        <g class="cliped-image">
                                                            <image preserveAspectRatio="none" width="100%" height="100%"
                                                                clip-path="url(#article-panel)"
                                                                xlink:href="<%=headTitles[title][i].image_link%>">
                                                            </image>
                                                        </g>
                                                    </svg>
                                                </div>


                                                <div class="head-details" data-aos="flip-left" data-aos-easing="linear"
                                                    data-aos-duration="500">
                                                    <h3 class="head-name">
                                                        <%=headTitles[title][i].name%>
                                                    </h3>
                                                    <p class="head-mail">
                                                        <i class="fa fa-envelope"></i>
                                                        <%=headTitles[title][i].mail%>
                                                    </p>
                                                    <p class="head-phone">

                                                        <i class="fa fa-phone"></i>
                                                        <%=headTitles[title][i].phone%>
                                                    </p>
                                                    <div class="contacts">
                                                        <% if(headTitles[title][i].instagram !="" ) { %>
                                                            <a style="text-decoration: none; color: black;"
                                                                href="<%=headTitles[title][i].instagram%>"><i
                                                                    class="fa fa-instagram"
                                                                    style="font-size:25px"></i></a>
                                                            <%}%>

                                                                <% if(headTitles[title][i].linkedin !="" ) { %>
                                                                    <a style="text-decoration: none; color: black;"
                                                                        href="<%=headTitles[title][i].linkedin%>"><i
                                                                            class="fa fa-linkedin-square"
                                                                            style="font-size:25px"></i></a>

                                                                    <%}%>

                                                                        <% if(headTitles[title][i].facebook !="" ) { %>
                                                                            <a style="text-decoration: none; color: black;"
                                                                                href="<%=headTitles[title][i].facebook%>"><i
                                                                                    class="fa fa-facebook"
                                                                                    style="font-size:25px"></i></a>
                                                                            <%}%>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}%>


                                                <!-- head detail ended -->
                                </div>
                                <%}%>
                                    <!-- head container code ended -->

                        </div>


            </div>

            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script src="/js/heads.js"></script>

            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            <script>
                AOS.init();
            </script>
</body>

</html>